Source: libjs-bootstrap-tagsinput
Section: web
Priority: extra
Maintainer: Scibian Project <packaging@scibian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://twitter.github.io/typeahead.js/
Vcs-Git: https://github.com/scibian/libjs-bootstrap-tagsinput.git
Vcs-Browser: https://github.com/scibian/libjs-bootstrap-tagsinput

Package: libjs-bootstrap-tagsinput
Architecture: all
Depends: ${misc:Depends}, libjs-jquery, libjs-bootstrap
Recommends: javascript-common
Description: tagsinput plugin for bootstrap3
 libjs-bootstrap-tagsinput is a jQuery plugin providing a Twitter
 Bootstrap user interface for managing tags.
